@import "./responsive.scss";
@import "./bootstrap/scss/bootstrap.scss";

// Adobe fonts
@import url("https://use.typekit.net/pcy8rsm.css");

.font-peacock {
  font-family: jaf-peacock, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-peacock-loop {
  font-family: jaf-peacock-loop, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-peacock-short {
  font-family: jaf-peacock-short, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-peacock-swash {
  font-family: jaf-peacock-swash, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-sofia-soft {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
  &.font-weight-bold {
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}

em.font-sofia-soft,
.font-sofia-soft em {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 400;
  font-style: italic;
  &.font-weight-bold {
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 700;
    font-style: italic;
  }
}
