input,
textarea {
  border-width: 0 0 2px;
  outline: 0 !important;
  background-color: transparent;
  border-bottom: 2px solid #aaa;
  color: white;
}

input,
textarea {
  &:focus {
    border-color: white;
  }
}

hr {
  border-top: 2px solid #555;
  border-radius: 2px;
}
