.video-header {
  $element-height: 100vh;

  z-index: -20px;
  position: relative;
  height: $element-height;

  video {
    z-index: -10;
    object-fit: cover;
    width: 100vw;
    height: $element-height;
    position: fixed;
    top: 0;
    left: 0;
  }

  .viewport-header {
    position: relative;
    height: $element-height;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .underline-wavy {
    text-decoration: #fae342 wavy underline;
  }

  .text-shadow-header {
    text-shadow: 2px 2px 8px pink;
  }

  // .logo {
  //   width: 5rem;
  //   @include respond-above(sm) {
  //     width: 6.5rem;
  //   }
  // }
}
